<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vob.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
       	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name="vob.activity.StartMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vob.activity.StudyMenuActivity"
            android:label="@string/title_activity_study_menu" >
        </activity>
        <activity
            android:name="vob.activity.ReviewMenuActivity"
            android:label="@string/title_activity_review_menu" >
        </activity>
        <activity
            android:name="vob.activity.StudyActivity"
            android:label="@string/title_activity_study" >
        </activity>
        <activity
            android:name="vob.activity.ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name="vob.activity.SettingActivity"
            android:label="@string/title_activity_reset" >
        </activity>
        
        <activity
            android:name="vob.activity.ReviewListActivity"
            android:label="@string/title_activity_review_list" >
        </activity>
        
    </application>

</manifest>
